{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
    <body>
    <div class="info">
    <form method="post" action="{% url 'my_orders' %}">
    {% csrf_token %}
    <table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Пароль</th>
            <th>Связь</th>
            <th>Начальный</th>
            <th>Конечный</th>
            <th>Награда</th>
            <th>Завершить</th>
        </tr>
    </thead>
    <tbody>
        {% for ord in ords %}
            <tr>
                <td>{{ ord.0 }}</td>
                <td>{{ ord.1 }}</td>
                <td>{{ ord.2 }}</td>
                <td>{{ ord.3 }}</td>
                <td>{{ ord.4 }}</td>
                <td>{{ ord.5 }}</td>
                <td><input type="hidden" value="{{ ord.6 }}" name="ordid">
                    <button type="submit" value="accept" name="action">Завершить</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </form>
    </div>
    </body>
{% endblock %}