{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Советы{% endblock %}

{% block content %}
    <body>
    <div class="info">
        <h1>Можно ли поднять MMR самому?</h1>
        <p class="text">Мы не те, кто лишь пытается продать свои услуги.</p>
        <img src="{% static 'main/images/money.png' %}" class="bos" style="max-width: 45%;">
        <p class="text">Здесь вы сможете найти советы от наших бустеров и не только!</p>
        <h3>1. Выигрывать одному реально!</h3>
        <p class="text">Многие зря полагают, что играя в одиночку, вы каждый раз лишь испытываете удачу с подбором тиммейтов и соперников.
        <br>Главная ошибка - верить в это.<br>Ведь существуют бустеры, которые стабильно выигрывают
        8 игр из 10, а они такие же люди как и все.<br>Важно понимать, что ваш выигрыш и проигрыш в первую очередь зависит от вас.
        Существуют лишь 20% игр, на которые вы абсолютно не можете повлиять.</p>
        <h3>2. Если ваша цель - поднять рейтинг</h3>
        <p class="text">Играйте на ограниченном числе персонажей, прочувствуйте их, поймите, против кого вам легко играть,
        а против кого и играть не хочется вовсе.</p>
        <h3>3. Делайте перерывы</h3>
        <p class="text">Не стоит пытаться выиграть 10 игр за день.
        <br>Даже при плюсе в 1 победу в день, вы будете получать новый ранг каждую неделю.
        <br>Не говоря уже о 2х и 3х.</p>
        <h3>4. Наблюдайте за игрой сильных игроков</h3>
        <p class="text">Просматривая профессиональные и любительские игры на высоком уровне,
        вы, сами того не понимая, будете делать для себя некие выводы, откладывать для себя фишки,
        идеи на игру.</p>
        <h3>5. Просматривайте обучательный контент</h3>
        <p class="text">На просторах интернета существует множество контента, объясняющего
        сложные и непонятные механики игры. Сильные игроки рассказывают про текущую мету и фишки,
        которые актуальны.
        <br>Главное смотреть качественные видео, из которых правда можно взять что-то полезное.
        <br>Одно из них мы для вас отобрали.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ETVQz-fgOWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </body>
{% endblock %}
