{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <body>
    <div class="info">
        <h1>Почему Just буст?</h1>
        <p class="text">У нас имеется многолетний опыт в предоставлении услуг буста аккаунтов в игре Dota 2</p>
        <img src="{% static 'main/images/boostTable.jpg' %}" class="bos">
        <p class="text">Наша текущая команда собиралась с 2016го года, каждый бустер имеет прямую связь с клиентами и владельцем платформы</p>
    </div>
    </body>
{% endblock %}
